@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.button {
	display: inline-block;
	padding: 16px 40px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	color: #FFFFFF;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: 0.5px;
	position: relative;
}
.button span{
position: relative;
z-index: 2;
}
.button--border {
display: inline-block;
padding: 16px 40px 16px 40px;
border-radius: 4px;
font-weight: 700;
line-height: 1.25;
letter-spacing: 0.5px;
border: 1px solid #FF3F3A;
color: #FF3F3A;
background: transparent;
}

.title {
display: flex;
flex-direction: column;
color: #1E212C;
}
.sub-title__text {
font-weight: 700;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 8px;
}
.title__text {
font-weight: 900;
font-size: 46px;
line-height: 130%;
}